<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find your favorite beers!</h1>
    <p class="lead">You can find information about different beers on this page.</p>
  </div>
</div>

<div class= "container">
  <p-table [value]="beers" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>Beer</th>
          <th>Manufacturer</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-beer>
        <tr>
          <td>
            <a routerLink="/beers/{{ beer.item }}">
            {{ beer.item }}
            </a>
          </td>
          <td>{{ beer.manf }}</td>
        </tr>
      </ng-template>
  </p-table>
</div>

<br>
<br>