<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Popular Beers Breakdown</h1>
    </div>
</div>

<div class="container">
    <br>
    <div id="bargraph"></div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Graphs By Month</h1>
    </div>
</div>

<div class="container">
    <br>
    <div id="jangraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="febgraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="margraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="aprgraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="maygraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="jungraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="jlygraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="auggraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="sepgraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="octgraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="novgraph"></div>
</div>
<hr style="border: 4px solid black;" />
<div class="container">
    <br>
    <div id="decgraph"></div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Distribution of Sales</h1>
    </div>
</div>

<div class="container">
    <br>
    <div id="sales"></div>
</div>