<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Statistics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/bars/{{ barName }}/top-drinkers">Top Drinkers <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/bars/{{ barName }}/popular-beers">Popular Beers</a>
            <a class="nav-item nav-link" href="/bars/{{ barName }}/manufacturers-best-selling">Manufacturers Best Selling</a>
            <a class="nav-item nav-link" href="/bars/{{ barName }}/new-transaction">New Transaction</a>
          </div>
        </div>
      </nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ barName }}</h1>
        <p class="bar-details" *ngIf="barDetails">
            {{ barDetails?.address }}s<span *ngIf="barDetails.address && barDetails.city"></span>, {{ barDetails?.city }}
                <br>
                Open from: {{barDetails?.opening}} - {{barDetails?.closing}}
                <br>
                Phone: {{ barDetails?.phoneNum }}
        </p>
    </div>
</div>

<div class="container">
    <h2 class="text-center font-weight-light">Menu</h2>
    <br>
    <p-table [value]="menu">
        <ng-template pTemplate="header">
            <tr>
                <th>Beer</th>
                <th>Manufacturer</th>
                <th>Price</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.item }}</td>
                <td>{{ item.manf }}</td>
                <td>{{ item.price | currency }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<br>
<br>